<!-- ReSharper disable Html.TagNotResolved -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />

    <!-- bower:js -->
    <!-- endinject -->

    <!-- bower:css -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- inject:directives -->
    <!-- endinject -->

    <!-- Diese Referenzen sind Serverabhängig und werden erstmal hart reingelinked -->
    <!--<script src="Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="signalr/hubs"></script>-->
    <script src="http://localhost:8080/bundle.js"></script>
    <!-- Ende-Serverseitiger Referenzen -->
</head>
<body ng-app="microsoftsample" md-theme="main-theme" layout-fill>
    <div layout="column" style="height: 100%" ng-controller="SampleViewModel as svm">
        <div style="width: 200px; height: 200px; background-color: black; color: white;" ng-click="svm.click()"> CLICK ME {{svm.count}} </div>
    </div>
</div>

</body>
</html>
